body {
	width: 90dvw;
	margin: auto;
	padding-top: 1rem;
}

p {
	line-height: 1.75rem;
	font-size: 1.125rem;
}

h1 {
	font-weight: 600;
}

h3 {
	font-size: 1.375rem;
} 

button {
	border-radius: 0.25rem;
	border: none;
	padding: 0.5rem 0.75rem;
	background: #0339fc;
	color: white;
	font-size: 0.8rem;
}

.content-container {
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
}

.content-title {
	font-size: 1.875rem;
}
