body {
	font-family: Verdana, Geneva, sans-serif;
	width: 90dvw;
	margin: auto;
}

p {
	line-height: 1.75rem;
	font-size: 1.125rem;
}

h1 {
	font-weight: 600;
}

button {
	border-radius: 0.25rem;
	border: none;
	padding: 0.5rem 0.75rem;
	background: #0339fc;
	color: white;
	font-size: 0.8rem;
}
