body {
	width: 90dvw;
	margin: auto;
	padding-top: 1rem;
}

p {
	line-height: 1.75rem;
	font-size: 1.125rem;
}

h3 {
	font-size: 1.375rem;
}

.content-container {
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
}

.content-title {
	font-size: 1.875rem;
}
