body {
	font-family: Verdana, Geneva, sans-serif;
}

p {
	line-height: 1.75rem;
	font-size: 1.125rem;
	width: 90dvw;
	margin: auto;
}

h1 {
	font-weight: 600;
}

h2 {
	padding-left: 1.328rem;
	color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 90dvw;
	margin: auto;
}

h3 {
	font-size: 1.375rem;
	color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: auto;
	width: 90dvw;
}

button {
	border-radius: 0.25rem;
	border: none;
	padding: 0.5rem 0.75rem;
	background: #0339fc;
	color: white;
	font-size: 0.8rem;
}

.content-container {
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
}

.content-title {
	font-size: 1.875rem;
}

.title-container {
	background-color: #0339fc;
}
